server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  kafka:
    topic: demo.events

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: serviceB
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
